.input-date-field {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 100rem;
    border: 1px solid #999;
    color: #333;
}

.input-date .input-error-text {
    color: red;
    max-width: 20rem;
    text-align: center;
}

.input-date-field.input-error {
    border: 1px solid red;
    animation: shake 0.5s;
}

.input-date-field:focus {
    outline: none;
    border: 1px solid #333;
}

.input-date-field:focus.input-error {
    border: 1px solid red;
}

.input-date-container {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    color: #333;
}

.input-date {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 0.2rem;
}

.input-date-container svg {
    position: absolute;
    left: 1rem;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
