.admin-users {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    gap: 1rem;
}

.admin-users .search-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.admin-users table {
    border-collapse: collapse;
    border: none;
    overflow: hidden;
    width: 100%;
    border: solid #eee 1px;
    margin-bottom: 1rem;
}

.admin-users td, th {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    border: none;
    align-items: center;
    height: 2rem;
}

.admin-users tr:nth-child(even) {
    background-color: #eee;
}

.admin-users .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.admin-users .red {
    color: red;
}

.admin-users .orange {
    color: orange;
}

.admin-users .green {
    color: green;
}

.admin-users .option:hover {
    cursor: pointer;
    filter: brightness(80%);
}
