.submissions-page {
    margin: 3rem 0 3rem 0;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.submissions-page .red {
    color: red;
}

.submissions-page .green {
    color: green;
}

.submissions-page a {
    text-decoration: none;
    color: inherit;
}

.submissions-page .id a {
    color: #FF7219;
}

.submissions-page table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 100;
}

.submissions-page td, .submissions-page th {
    border: 1px solid #eee;
    text-align: left;
    padding: 0 1rem 0 1rem;
    font-weight: normal;
    width: fit-content;
}

.submissions-page tr:nth-child(even) {
    background-color: #fafafa;
}

.submissions-page a:hover {
    cursor: pointer;
    color: #666;
}

.submissions-page .paged-container {
    width: 100%;
}