.problems-page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}

.problems-page a {
    text-decoration: none;
    color: inherit;
}

.problems-page table {
    border-collapse: collapse;
    width: 100%;
}

.problems-page td, .problems-page th {
    border: 1px solid #eee;
    text-align: left;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-weight: normal;
}

.problems-page tr:nth-child(even) {
    background-color: #eeee;
}

.problems-page .rank, .problems-page .rating {
    width: 3rem;
    text-align: center;
}

.problems-page a:hover {
    cursor: pointer;
    color: #666;
}