.navbar {
    position: relative;
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navbar .logo:hover {
    cursor: pointer;
}

.navbar .logo img {
    aspect-ratio: 1;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    filter: drop-shadow(2px 2px 5px #000000);
}

.navbar .logo span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.navbar .options {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navbar .option {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.navbar .option:hover span {
    cursor: pointer;
    border-bottom: solid 0.01rem #000;
}

.navbar .drop {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbar {
        justify-content: space-between;
    }

    .navbar .drop {
        display: flex;
        font-size: 2rem;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .navbar .drop:hover {
        cursor: pointer;
    }

    .navbar .options {
        top: 100%;
        right: 0;
        height: auto;
        transition: all 0.5s linear;
        position: absolute;
        display: none;
        overflow: hidden;
        align-items: flex-end;
        flex-direction: column;
    }

    .navbar .options.show {
        display: flex;
        transition: all 0.5s linear;
    }
}
