.input-field {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 100rem;
    border: solid #999;
    color: #333;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 1px #999;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    color: #333;
}

.input-text {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container svg {
    position: absolute;
    left: 1rem;
}