<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Account Verification</title>
    </head>
    <body>
        <h2>Account Verification</h2>
        <p>Hello {{username}},</p>
        <p>Thank you for signing. To activate your account, please click the link
            below:</p>
        <p>
            <a href="{{callback}}">Verify Account</a>
        </p>
        <p>If you didn't sign up for an account, please ignore this email.</p>
        <p>Thank you,</p>
        <p>Carinhas Auth System</p>
    </body>
</html>