.rating-page {
    margin: 3rem 0 3rem 0;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.rating-page a {
    text-decoration: none;
    color: inherit;
}

.rating-page table {
    border-collapse: collapse;
    width: 100%;
}

.rating-page td, th {
    border: 1px solid #eee;
    text-align: left;
    padding: 0.5rem;
    font-weight: normal;
}

.rating-page tr:nth-child(even) {
    background-color: #eeee;
}

.rating-page .rank, .rating-page .rating {
    width: 3rem;
    text-align: center;
}

.rating-page a:hover {
    cursor: pointer;
    color: #666;
}