.submissions {
    margin: 3rem 0 3rem 0;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.submissions .red {
    color: red;
}

.submissions .green {
    color: green;
}

.submissions a {
    text-decoration: none;
    color: inherit;
}

.submissions table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 100;
}

.submissions td, .submissions th {
    border: 1px solid #eee;
    text-align: left;
    padding: 0 1rem 0 1rem;
    font-weight: normal;
    width: fit-content;
}

.submissions tr:nth-child(even) {
    background-color: #fafafa;
}

.submissions a:hover {
    cursor: pointer;
    color: #666;
}