.contests-page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-size: 2rem;
    text-align: center;
}

.contests-page img {
    height: 15rem;
}