.problem-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
}

.problem-page .problem {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.problem-page .problem-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.problem-page .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    width: 20rem;
}

.problem-page .red {
    color: red;
}

.problem-page .side-bar .side-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #eee;
    border-radius: 0.5rem;
}

.problem-page .side-bar .side-option .header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 1rem;
    box-sizing: border-box;
}

.problem-page .side-bar .side-option .content {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}


.problem-page .side-bar .side-option .content form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.problem-page .examples {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.problem-page .examples .example {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.problem .examples .example pre {
    background-color: #eee;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.5rem;
}