.problem-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    gap: 1rem;
}

.problem-page .problem {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.problem-page .problem-settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.problem-page .side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: #eee;
}